@keyframes backgroundSlideshow {
  0% {
    background-image: url("/assets/kamathenu Images/Land_bg_1.jpg");
  }
  25% {
    background-image: url("/assets/kamathenu Images/Land_bg_2.jpg");
  }
  50% {
    background-image: url("/assets/kamathenu Images/Land_bg_3.jpg");
  }
  75% {
    background-image: url("/assets/kamathenu Images/Land_bg_4.jpg");
  }
  100% {
    background-image: url("/assets/kamathenu Images/Land_bg_5.jpg");
  }
}


.bg-hero-slider {
  animation: backgroundSlideshow 20s ease-in-out infinite;
  background-size: cover;
  background-position: center;
}

@keyframes upDown {
  0%, 100% {
    transform: translateY(472px);
  }
  50% {
    transform: translateY(0);
  }
}
@keyframes grow-bar{
  
  
    0% { width: 50% }
    100% { width: 100% }
}

@keyframes downUp {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(472px);
  }
}

.up-down-slider {
  animation: upDown 12s ease-in-out infinite;
}
.down-up-slider {
  animation: downUp 12s ease-in-out infinite;
}
.width-small-large{
  animation: grow-bar 2s ease-out forwards infinite ;
}
